body {
    text-align: center;
    background-color: lightblue;
}

.bg-pink {
    background-color: pink;
}

.checklist {
    padding: 3rem;
}

.item-description {
    width: 80%
} 

.test {
    position: relative;
    top: 50%;
    bottom: 50%;
    max-width: 100%
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}